doctype html
html
  head
    title Authentication App
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css")
  body.bg-gray-100.text-gray-800
    block content
